{{- range $i, $c := .ReviewComments}}{{if $i}}

{{end}}{{if $c.AuthorTag}}**[{{$c.AuthorTag}}]** {{end}}{{$c.Content}}{{end}}
{{- if .MovedToSummary}}{{if .ReviewComments}}

{{end}}## Unplaced comments

{{range .MovedToSummary}}- {{if .Tag}}[{{.Tag}}] {{end}}{{.Path}}: {{.Content}}
{{end}}{{end}}